{% extends "navbar.html" %}

{% block style %}<link rel="stylesheet" href="/static/main.css">{% endblock %}

{% block body %}
<div id="search">
    <input name="text"
      id="search-input" class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
    <select onchange="send_query()" name="field" id="search-select" class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option value="name" selected>Назва</option>
        <option value="mod">Мод</option>
    </select>
    <div id="items">
      
        <table class="table table-dark">
            <tbody id="search-tbody">
            </tbody>
          </table>

    </div>
</div>
<div id="calculator">
  <div id="craft-element">
    <table class="table table-sm table-warning">
      <thead>
        <tr>
          <th scope="col">key</th>
          <th scope="col">Назва</th>
          <th scope="col">Мод</th>
          <th scope="col">Поточна ціна</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody id="craft-element-tbody"></tbody>
    </table>
  </div>
  <table class="table table-success">
    <thead>
      <tr>
        <th scope="col">key</th>
        <th scope="col">Назва</th>
        <th scope="col">Мод</th>
        <th scope="col">Ціна</th>
        <th scope="col">Кількість</th>
      </tr>
    </thead>
    <tbody id="calculator-tbody">
    </tbody>
  </table>
    <div id="options">
      <h3 id="total-price">0</h3>
      <div class="custom-checkbox-wrapper">
    
        <input class="custom-checkbox" type="checkbox" id="customCheckbox1">
        <label class="custom-checkbox-label" for="customCheckbox1">Додати 5%</label>
      </div>
      
    </div>
  <button onclick="craft()" id="craft-button">Крафт</button>
</div>
    
{% endblock %}


{% block script %}<script src="/static/main.js"></script>{% endblock %}